
# CRAB documentation:
# https://twiki.cern.ch/twiki/bin/view/CMS/SWGuideCrab
#
# Once you are happy with this file, please run
# crab -create -cfg pickevents_crab.config
# crab -submit -cfg pickevents_crab.config

[CMSSW]
pycfg_params = eventsToProcess_load=pickevents_runEvents.txt outputFile=pickevents.root
dbs_url = https://cmsdbsprod.cern.ch:8443/cms_dbs_ph_analysis_02_writer/servlet/DBSServlet

lumi_mask               = pickevents.json
total_number_of_lumis   = -1
lumis_per_job           = 1
pset                    = /uscmst1/prod/sw/cms/slc5_amd64_gcc462/cms/cmssw-patch/CMSSW_5_3_11_patch3/src/PhysicsTools/Utilities/configuration/copyPickMerge_cfg.py
datasetpath             = /SingleMu/valuev-datamc_SingleMuRun2012C-22Jan2013_197556_203772_20131009023330-5bb766addb1a9ca9d22a199ff7651267/USER
output_file             = pickevents.root

[USER]
return_data             = 1
email                   = valuev@fnal.gov

# if you want to copy the data or put it in a storage element, do it
# here.


[CRAB]
# use "glite" in general; you can "condor" if you run on CAF at FNAL or USG
# site AND you know the files are available locally
scheduler               = condor  
jobtype                 = cmssw
#use_server              = 1
